{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section px-2 mt-4">
  <div class="media text-center">
    <div class="profile-image mx-auto">
      {% if user.profile.image %}
      <img class="rounded-circle account-img img-fluid round-profile-image" src="{{ user.profile.image.url }}">
      {% else %}
      <img class="rounded-circle account-img img-fluid round-profile-image"
        src="https://res.cloudinary.com/gregcotech007/image/upload/v1677706290/media/profile_images/no_image.jpeg">
      {% endif %}
    </div>
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
  <div class="profile">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group mb-3">
        <legend class="border-bottom mb-4">Profile Info</legend>
        {{ user_form|crispy }}
        {{ profile_form|crispy }}
      </fieldset>
      <div class="form-group mb-3">
        <button class="btn btn-outline-info" type="submit">Update</button>
      </div>
    </form>
    <a href="{% url 'user-posts' user.username %}" class="btn btn-outline-info text-center">My Posts</a>
  </div>
</div>
{% endblock content %}